<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870501520419-7trmqoi9fk2dpjm7q35nbipju4b6gjpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870501520419-7trmqoi9fk2dpjm7q35nbipju4b6gjpn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870501520419-igrt16smcsah59090i4c3h87hbham9mg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx8153JEglN_3zJgtRvWCaGQnUQwraunA</string>
	<key>GCM_SENDER_ID</key>
	<string>870501520419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamosad1657.hamosadScoutingApp</string>
	<key>PROJECT_ID</key>
	<string>hamosad-scouting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hamosad-scouting-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870501520419:ios:aa2fbf4c33079fad114d96</string>
</dict>
</plist>